<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="IE=11.0000" http-equiv="X-UA-Compatible">
<title>案例详情</title>
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="static/css/reset.css">
<link rel="stylesheet" href="static/css/common.css">
<link rel="stylesheet" href="static/css/news.css">
<link rel="stylesheet" href="static/css/docs/qingcloud.css" type="text/css">
<link rel="stylesheet" href="static/css/docs/pygments.css" type="text/css">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="docs">
<!-- BEGIN header-->
<!-- begin menu-->
<header class="m-header-nav line clearfix nav-fixed2">
  <section class="head-nav-main w1000"> <a href="http://rdcloud.cmri.cn/" class="head-logo"><img src="images/logo.png" title="资源池"></a>
    <nav class="head-nav">
      <ul>
        <li><a href="{{ url_for('index') }}" class="link">首页</a></li>
        <li><a href="{{ url_for('computer') }}" class="link">产品服务</a></li>
        <li><a href="{{ url_for('resource') }}" class="link">资源展示</a></li>
        <li><a href="{{ url_for('docs') }}" class="link">文档中心</a></li>
        <li><a href="http://192.168.57.205:8080/jforum/" target="_blank" class="link">技术论坛</a></li>
      </ul>
      <div class="border-sty" style="width: 152px; left: 268px;">
      </div>
    </nav>
  </section>
</header>
<!-- end menu--> 
<!-- END header-->
<div class="document">
  <div class="top_bar">
    <h1>用户案例</h1>
    <a class="app-btn" href="http://jira.cmri.cn/browse/RDCLOUD" target="_blank">立即申请</a>
  </div>
  <div class="casewrapper">
    <div class="title_bar">
      <h2 class="case-title">基于云平台的MOS测试系统建设（测试所）</h2>
      <span>2015.08-2015.12</span>
    </div>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;基于云平台的MOS测试系统建设搭建测试系统平台，VOLTE作为中国移动4G语音的语音解决方案，将在2015年底实现商用。VOLTE一旦商用，为保证现网语音质量，及时发现语音业务运营问题，必须有一套完整的、高效的测量方法和工具为VOLTE业务保驾护航。此项目即在此背景下提出，提出在云端建立服务器供内部用户MOS测试使用。</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;申请服务器3台物理机，服务器具体需求如下：CPU 16核，内存 128G，硬盘10T，用作负载均衡及数据库使用。</p>
  </div>
</div>


<!-- BEGIN footer-->
<footer class="m-footer">
  <article class="m-footer-link w1000">
   <div class="footer-wrap">
    <section style="">
      <h4>产品服务</h4>
      <ul>
        <li><a href="computer.html">弹性计算</a></li>
        <li><a href="bigdata.html">大数据</a></li>
      </ul>
    </section>
    <section>
      <h4>资源管理</h4>
      <ul>
        <li><a href="http://jira.cmri.cn/browse/RDCLOUD" target="_blank">资源申请</a></li>
        <li><a href="resource.html">资源展示</a></li>
      </ul>
    </section>
    <section>
      <h4>用户案例</h4>
      <ul>
        <li><a href="">云计算类</a></li>
        <li><a href="">大数据类</a></li>
      </ul>
    </section>
    <section>
      <h4>文档中心</h4>
      <ul>
        <li><a href="">用户指南</a></li>
        <li><a href="">常见问题</a></li>
      </ul> 
       </section>
    <section style="width: 15%;">
      <h4>技术论坛</h4>
      <ul>
        <li><a href="http://192.168.57.205:8080/jforum/" target="_blank">大数据论坛</a></li>
        <li><a href="http://192.168.57.205:8080/jforum/" target="_blank">云计算论坛</a></li>
      </ul>
    </section>
    <section style="padding-left: 11px;">
      <h4>关于我们</h4>
      <ul>
        <li><a href="" target="_blank">开发团队</a></li>
        <li><a href="history.html">运维团队</a></li>
      </ul>
    </section>
    </div>
  </article>
  <article class="m-footer-record clearfix">
    <section class="record-main w1000">
      <label>        Copyright © 2015 中国移动研究院 大数据与IT技术研究所     </label>
      <!--a class="lnk-djbh" href="http://www.djbh.net/"><img src="images/999f934e.png"></a> <a class="lnk-dca" href="http://www.dca.org.cn/"><img src="images/8abdb791.png"></a--> </section>
  </article>
</footer>
<div class="popup popup-browser">
  <div class="popup-in">
    <div class="popup-cont">
      <p><img src="images/660d0968.jpg" alt=""></p>
      <a class="btn-link-close" href="#"></a> <a class="btn-link-download" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank"></a>
    </div>
  </div>
  <div class="popup-bg">
  </div>
</div>
<!-- END footer-->
<div class="c-backTop">
  <span class="c-backTop-btn"></span>
</div>
<script type="text/javascript" src="js/jquery-1.js"></script> 
<script type="text/javascript" src="js/jquery_002.js"></script> 
<script type="text/javascript" src="js/common.js"></script> 
<script type="text/javascript" src="js/jquery_002.js"></script> 
<script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript">
  var oItem = document.getElementById("total");
  var oLis = oItem.getElementsByTagName("li");
  var oDivs = oItem.getElementsByClassName("chart_bd");

  function changeTab(nIndex) {
      for (var i = 0; i < oLis.length; i++) {
          oLis[i].className = null;
          oDivs[i].className = "chart_bd";
      }
      oLis[nIndex].className = "select";
      oDivs[nIndex].className = "chart_bd select";
  }

  for (var i = 0; i < oLis.length; i++) {
      ~function (i) {
          oLis[i].onclick = function () {
              changeTab(i);
          }
      }(i);
  }


  var oTab = document.getElementById("total_current");
  var oBtns = oTab.getElementsByTagName("span");
  var oChts = oTab.getElementsByClassName("bar_chart");

  function changeChart(nIndex) {
      for (var j = 0; j < oBtns.length; j++) {
          oBtns[j].className = null;
          oChts[j].className = "bar_chart";
      }
      oBtns[nIndex].className = "cur";
      oChts[nIndex].className = "bar_chart cur";
  }

  for (var j = 0; j < oBtns.length; j++) {
      ~function (j) {
          oBtns[j].onclick = function () {
              changeChart(j);
          }
      }(j);
  }

  var oTabApply = document.getElementById("apply_current");
  var oBtnsApply = oTabApply.getElementsByTagName("span");
  var oChtsApply = oTabApply.getElementsByClassName("area_chart");

  function changeAreaChart(nIndex) {
      for (var j = 0; j < oBtnsApply.length; j++) {
          oBtnsApply[j].className = null;
          oChtsApply[j].className = "area_chart";
      }
      oBtnsApply[nIndex].className = "cur";
      oChtsApply[nIndex].className = "area_chart cur";
  }

  for (var j = 0; j < oBtnsApply.length; j++) {
      ~function (j) {
          oBtnsApply[j].onclick = function () {
              changeAreaChart(j);
          }
      }(j);
  }
</script>
</body>
</html>